:root {
	/* blue */
	--primaryColor: #4831d4;
	--primaryText: #fff;
	--secondaryColor: #ccf381;

	--backGroundColor: #F9F9F9;
	--primaryLight: #9f95e4;
	--primaryDark: #37289b;
}

body {
	background-color: var(--backGroundColor);
	font-size: 19px;
	font-family: Helvetica, sans-serif;
	margin: 0px;
}

section {
	padding: 50px 80px;
}

h1 {
	font-size: 55px;
	font-weight: 800;
	margin-bottom: 10px;
}

h3 {
	font-size: 17px;
	font-weight: 800;
	color: var(--primaryLight);
}

.primary {
	color: var(--primaryColor);
}

.primary-background {
	background-color: var(--primaryColor);
	color: #fff;
}

.primary-dark-background {
	background-color: var(--primaryDark);
	color: #fff;
}

.secondary {
	color: var(--secondaryColor);
}

.secondary-links {
	color: var(--secondaryColor);
	text-decoration: none;
}

.card {
	max-width: 500px;
	margin-bottom: 100px;
}

/* layout styles */
.row {
	display: flex;
}

.row.right {
	flex-direction: row-reverse;
	margin-right: 100px;
}

.grow {
	flex-grow: 1;
}

/* social links */
.fa {
	padding: 20px;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
	margin: 5px;
	color: white;
}

.fa:hover {
	background: var(--secondaryColor);
	color: var(--primaryColor);
}

.links {
	display: flex;
	flex-direction: column;
	min-width: 200px;
	/* align right */
	align-items: end; 
}

.links > a {
	max-width: 20px;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

div.toaster {
	color: var(--primaryColor);
	background-color: var(--secondaryColor);
	animation: fadeOut 1s cubic-bezier(.9,0,.9,.5) forwards;
	font-weight: 900;
	font-size: medium;
	padding: 18px;
	margin: 5px;
	border: #fff 2px;
}

a.fadeIn {
	animation: fadeOut 1s ease-in reverse;
}

/* tinekr logos */
.tinker-logos {
	padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 166vh;
}